$small: 360px;
$medium: 700px;
$large: 2000px;
body{
    display: flex;
    justify-content: center;
    @media screen and (min-width: $medium) and (max-width:  $large) {
        .s{display: none;} 
        .m{display: none;}
    }
}
.arizona_sun{
    background: url('/pictures/four-horse-stalls.jpg') no-repeat center center fixed; ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100%;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 25px;
    
}
.az_sun{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100;
} 
.ig{
    width: 20%;
    height: auto;
    margin-left: 36% !important;
}
@media only screen and (min-width: $small) and (max-width: $medium){
    .l{display: none !important;}
    .arizona_sun{
        background: url('/pictures/four-horse-stalls.jpg') no-repeat top center fixed; ;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: 100%;
        display: flex; 
        flex-direction: row;}
    .horse-shade{
        margin-left: 0px !important;
        padding-left: 0% !important; 
    } 
    .ig{
        margin-left: 16% !important;

    }

}
